@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zoo Application </h1>
    <p class="lead">Zoo application is a simple  App.Here Use asp.net Mvc,  Entity Framework In code First migration procedure, Link methods for Database Operation and Etc.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

